#advertise_page {
    padding-top: 30px;
}
.social_address_wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin: 25px 0 10px;
}
.social_address_wrapper span {
    font-size: 14px;
}
.social_address_wrapper img {
    width: 30px;
    height: 30px;
}

@media (max-width: 1060px) {
    .social_address_wrapper {
        margin: 10px 0 0;
    }
}
@media (max-width: 460px) {
    #advertise_page {
        padding-top: 15px;
    }
}