.table-wrapper {
  overflow-x: auto;
  width: 100%;
}
.table-wrapper td {
  white-space: nowrap;
}
.table-img {
  max-width: 40px;
  max-height: 40px;
  min-height: 20px;
  height: 100%;
  width: 100%;
}
.table-img.user_photo {
  border-radius: 50%;
}
.heading-table {
  background-color: var(--firstColorPalete);
  color: #ffffff;
}
.d-flex-center-center {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}
span svg {
  cursor: pointer;
  font-size: 18px;
}
.table-wrapper span svg:hover {
  border-bottom: 1px solid var(--firstColorPalete);
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}
.dashboard-search {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.dashboard-search input {
  width: 90%;
  border-radius: 0;
}
.dashboard-search span {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondColorPalete);
  margin: 10px 0;
}
.th-titles {
  font-size: 13px;
  font-weight: 500;
}

.loader_wrapper {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 790px) {
  .th-titles {
    font-size: 10px;
    font-weight: 500;
  }
  .table-wrapper td {
    font-size: 10px;
  }
  .table-img {
    min-height: unset;
  }
}

@media (max-width: 450px) {
  .dashboard-search span {
    margin: 4px 0;
  }
  span svg {
    font-size: 14px;
  }
}
