.notice1_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.notice_1 {
  flex-basis: 20%;
  margin: 0 10px;
  padding: 10px 16px;
  border-radius: 2px;
  font-size: 12px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.notice_1:first-of-type {
  flex-basis: 50%;
}

@media (max-width: 1060px) {
  .notice1_wrapper{
    justify-content: space-between;
  }
  .notice_1:first-of-type {
    flex-basis: 60%;
  }
  .notice_1 {
    flex-basis: 35%;
    margin: 5px 0;
  }
}

@media (max-width: 450px) {
  .notice_1:first-of-type {
    flex-basis: 100%;
  }
  .notice_1 {
    flex-basis: 100%;
    margin: 3px 0;
    padding: 8px 4px;
    font-size: 10px;
  }
}
