.register_heading {
  margin: 0 0 15px 0;
  text-align: center;
}
.auth-code-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
.timer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondColorPalete);
  color: var(--firstColorPalete);
  padding: 4px 8px 2px;
  width: 60px;
  border: 0;
  border-radius: 4px;
}
@media (max-width: 450px) {
  .register_heading {
    font-size: 12px;
    margin-bottom: 8px !important;
  }
  .auth-code-wrapper {
    margin-top: 5px;
  }
}
@media (max-width: 365px) {
  .register_heading {
    font-size: 10px;
  }
}