.text-blue {
  color: var(--thirdColorPalete);
}
.forgot-pass {
  color: var(--thirdColorPalete);
  font-size: 12px;
}

#saveInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
#saveInfo > input {
  width: 5%;
  margin-right: 10px;
  box-shadow: unset;
}
.recaptcha {
  display: block;
  margin: 10px 0 15px;
  overflow: hidden;
}

@media (max-width: 320px) {
  .recaptcha iframe {
    width: 100%;
    max-width: 230px;
  }
  #saveInfo {
    margin: 10px 0;
  }
}
