#sec15 {
  width: 85.5%;
  margin: 50px auto;
  border: 1px solid #c6c6c6;
  padding: 20px;
}
.carousel_brand_img_wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.carousel_brand_img {
  width: 100%;
  height: 80px;
  max-width: 80px;
  border-radius: 50%;
}
#sec15 .slick-track {
  display: flex;
  align-items: center;
}

@media (min-width: 1537px) {
  #sec15 {
    width: 1305px !important;
  }
}

@media (max-width: 450px) {
  #sec15 {
    margin: 10px auto;
    padding: 10px 10px 0;
  }
  .carousel_brand_img {
    max-width: 40px;
    height: 40px;
  }
}
