.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.4);
  padding: 40px;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  max-height: 70vh;
  overflow-y: auto;
}
.modal.opened {
  transform: translate(0);
  opacity: 1;
  z-index: 999;
}
.modal.closed {
  transform: translate(-10);
  opacity: 0;
  z-index: -10;
}

@media (max-width: 600px) {
  .modal {
    top: 25%;
    padding: 40px 20px;
  }
}
@media (max-width: 450px) {
  .modal {
    top: 25%;
    padding: 15px;
  }
}
