.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  min-width: 70%;
  width: auto;
  max-width: 96%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.4);
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  max-height: 80vh;
  overflow-y: auto;
}
.modal.opened {
  /* transform: translate(0); */
  opacity: 1;
  z-index: 999;
}
.modal.closed {
  /* transform: translate(-10); */
  opacity: 0;
  z-index: -10;
}

@media (max-width: 780px) {
  .modal {
    width: 95%;
    /* left: 2.5%;
    top: 10%; */
  }
}
/* @media (max-width: 600px) {
  .modal {
    top: 25%;
    padding: 40px 20px;
  }
}
@media (max-width: 450px) {
  .modal {
    top: 25%;
    padding: 15px;
  }
} */
