.category {
  margin: 10px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--secondColorPalete);
  padding: 8px 30px;
}
.icons-wrapper {
  display: flex;
  align-items: center;
}
.icons-wrapper svg {
  margin-left: 15px;
  cursor: pointer;
  font-size: 25px;
}
.icons-wrapper svg:hover {
  border-bottom: 1px solid #000;
}
.icons-wrapper a {
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  .category {
    margin: 5px 0;
    font-size: 14px;
    padding: 5px 10px;
  }
  .local-search input {
    width: 100%;
  }
  .icons-wrapper svg {
    font-size: 20px;
    margin: 0;
  }
}