#help_page {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}
.help_description {
  font-size: 14px;
  text-align: justify;
  white-space: initial;
}
.help_imgs_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.help_imgs_wrapper img {
  width: 80%;
}
.helpTitle {
  margin-bottom: 0;
}

@media (max-width: 450px) {
  .help_description {
    font-size: 12px;
  }
  .helpTitle {
    font-size: 14px;
  }
}
