#secAdvantage {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.advantage_wrapper {
  flex-basis: 25%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.advantage {
  font-size: 6px;
}
.svg_advantage {
  width: 25px;
  height: 55px;
}
.svg_advantage svg {
  width: 100%;
}
