.product_details_wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 30px 0 0;
}
.product_info {
  flex: 50%;
  width: 50%;
}

.product_images {
  flex: 50%;
  width: 50%;
  padding: 0 40px;
  overflow: hidden !important;
}

/* carousel-images */
#product_details .carousel_img {
  width: 100%;
  height: 100%;
  padding: 15px 20px 30px;
  margin-bottom: 40px;
  max-height: 450px;
  object-fit: contain;
}
#product_details .slick-dots li {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  padding: 0;
  transition: all 0.17s ease-in-out;
}
#product_details .slick-dots li.slick-active {
  border: 1px solid var(--firstColorPalete);
  padding: 5px;
}

#product_details .carousel_img_icons {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#product_details .slick-dots {
  bottom: 0;
}

/* product_info_wrapper */
.product_info_wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  font-size: 13px;
}
.product_info_wrapper .info_wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 24px;
}
.info_wrapper.colors_wrapper {
  height: 40px;
}
.product_info_wrapper .info_wrapper .question_info {
  flex: 30%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.product_info_wrapper .info_wrapper .answer_info {
  flex: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.answer_info span.tooltip {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2px 4px;
  border: 1px solid #c6c6c6;
}
.info_wrapper_Attr {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}
.attr_wrapper {
  list-style-type: persian;
  margin-right: 15px !important;
}
.attr_wrapper li {
  font-size: 12px;
  margin: 4px 0;
  color: #757575;
  font-weight: 500;
}
.products_subcategory_btn {
  padding: 4px 16px;
  background-color: var(--thirdColorPalete);
  border-radius: 4px;
  color: #ffffff;
  margin: 8px 0;
}
/* product_rating_wrapper_info */
.rating_compare_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.compare_icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: var(--firstColorPalete);
}
.product_header_info {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.product_header_info h1 {
  font-size: 16px;
}

.product_rating_wrapper_info {
  display: flex;
  justify-content: flex-start;
}

.star-ratings {
  vertical-align: -webkit-baseline-middle;
}
svg.hovered path.star {
  fill: var(--secondColorPalete) !important;
}
/* products_icon_wrapper */

.products_icon_wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0;
}

.cart_btn_wrapper {
  flex: 33.33%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}
.cart_btn_wrapper button {
  background-color: var(--secondColorPalete);
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 24px;
  border-radius: 4px;
  font: inherit;
  font-size: 14px;
  color: var(--firstColorPalete);
  cursor: pointer;
}
.favorite_btn_wrapper {
  flex: 33.33%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}
.favorite_btn_wrapper button {
  background-color: var(--firstColorPalete);
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 24px;
  border-radius: 4px;
  font: inherit;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
.rating_btn_wrapper {
  flex: 33.33%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
}
.rating_btn_wrapper button {
  background-color: var(--thirdColorPalete);
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 24px;
  border-radius: 4px;
  font: inherit;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.rating_modal_wrapper {
  display: flex;
  flex-flow: column wrap;
  padding: 20px 40px;
}

.rating_modal_btn_wrapper {
  display: flex;
  width: 60%;
  margin: 30px auto 0;
}
.rating_stars_wrapper {
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.close_Rating_modal {
  font-size: 24px;
  color: var(--firstColorPalete);
  cursor: pointer;
}
.disabledBtn {
  cursor: not-allowed !important;
}

/* responsive */
@media (max-width: 1060px) {
  .product_details_wrapper{
    margin: 15px 0 0;
  }
  .product_images {
    padding: 0 0 0 30px;
  }
  #product_details .slick-dots li {
    width: 50px;
    height: 50px;
  }
  #product_details .carousel_img {
    max-height: 400px;
  }
  .cart_btn_wrapper button,
  .favorite_btn_wrapper button,
  .rating_btn_wrapper button {
    padding: 6px 1px;
    font-size: 10px;
  }
  .cart_btn_wrapper button svg,
  .favorite_btn_wrapper button svg,
  .rating_btn_wrapper button svg {
    font-size: 14px;
    margin-left: 0;
  }
  .product_info_wrapper .info_wrapper {
    height: 23px;
  }
  .answer_info span.tooltip {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px;
  }
  .product_header_info h1 {
    font-size: 14px;
    margin: 4px 0;
  }
}
@media (max-width: 850px) {
  /* #product_details .carousel_img {
    padding: 110px 5px 140px;
  } */
  .product_info_wrapper .info_wrapper {
    height: 20px;
  }
  .answer_info span.tooltip {
    width: 10px;
    height: 10px;
  }
  .attr_wrapper li {
    margin: 1px 0;
  }
}
@media (max-width: 780px) {
  .product_info_wrapper .info_wrapper .question_info {
    flex: 40%;
  }

  .product_info_wrapper .info_wrapper .answer_info {
    flex: 60%;
  }
  .product_info_wrapper {
    font-size: 12px;
  }
  .product_images {
    padding: 0 20px;
  }
  #product_details .slick-dots li {
    width: 40px;
    height: 40px;
    margin: 0 4px;
  }
  #product_details .slick-dots li.slick-active {
    width: 50px;
    height: 50px;
  }

  .cart_btn_wrapper button,
  .favorite_btn_wrapper button,
  .rating_btn_wrapper button {
    font-size: 12px;
    border-radius: 2px;
  }
  .cart_btn_wrapper button svg,
  .favorite_btn_wrapper button svg,
  .rating_btn_wrapper button svg {
    font-size: 14px;
    margin-right: 2px;
  }
  .answer_info span.tooltip {
    margin:0 2px;
}
}

@media (max-width: 600px) {
  #product_details {
    padding: 0;
  }
  .product_info,
  .product_images {
    flex: 100%;
    width: 100%;
  }
  .product_info_wrapper .info_wrapper {
    height: 22px;
  }
  .product_details_wrapper{
    margin: 0;
  }
  #product_details .carousel_img {
    padding: 20px 0;
  }
  .product_images {
    padding: 0px 5px;
  }
  #product_details .slick-dots li {
    width: 35px;
    height: 35px;
    margin: 0 3px;
  }

  .rating_compare_wrapper {
    justify-content: flex-start;
    gap: 100px;
  }
  
  .answer_info span.tooltip {
    width: 15px;
    height: 15px;
  }
  .cart_btn_wrapper {
    flex: 40%;
    width: 100%;
    z-index: 19;
    position: fixed;
    bottom: -8px;
    left: 0;
    padding: 8px 0;
  }
  .cart_btn_wrapper button {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 600;
  }
  .rating_btn_wrapper {
    flex: 30%;
    padding: 4px 5px;
  }
  .favorite_btn_wrapper {
    flex: 30%;
  }
  .products_subcategory_btn {
    padding: 2px 10px;
    font-size: 10px;
  }
  .rating_modal_btn_wrapper {
    width: 50%;
    margin: 0 auto;
  }
  .close_Rating_modal {
    font-size: 16px;
  }
  .product_header_info h1 {
    font-size: 16px;
  }
  .favorite_btn_wrapper button,
  .rating_btn_wrapper button {
   gap: 0 10px;
  }
  .cart_btn_wrapper button svg {
    margin-right: 10px;
  }
}

@media (max-width: 450px) {
  .product_info_wrapper .info_wrapper .question_info {
    flex: 40%;
  }
  .product_info_wrapper .info_wrapper .answer_info {
    flex: 60%;
  }
  .cart_btn_wrapper button {
    font-size: 14px;
  }
  .favorite_btn_wrapper button,
  .rating_btn_wrapper button {
   font-size: 10px;
  }
  .products_icon_wrapper {
    margin: 10px 0;
  }
  .product_info_wrapper {
    font-size: 10px;
  }
}
@media (max-width: 370px) {
  .product_info_wrapper .info_wrapper .question_info {
    flex: 32%;
  }
  .product_info_wrapper .info_wrapper .answer_info {
    flex: 68%;
  }
  .rating_compare_wrapper {
    gap: 50px;
  }
  #product_details .slick-dots li {
    width: 30px;
    height: 30px;
  }
  #product_details {
    padding: 0;
  }
}

@media (max-width: 290px) {
  .rating_compare_wrapper {
    gap: 5px;
  }

  .favorite_btn_wrapper button,
  .rating_btn_wrapper button {
   gap: 0 4px;
  }
}