.single_order_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  padding: 15px 0 0;
  border-radius: 4px;
  margin: 20px 0;
}
.order_table::-webkit-scrollbar {
  height: 5px;
}
.order_details_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px 10px;
}
.order_details_wrapper > span {
  font-size: 10px;
  margin: 10px;
}
.order_details_wrapper strong {
  padding: 4px 6px;
  border-radius: 4px;
  margin: 0 6px;
  font-weight: 500;
}
.order_table {
  overflow-x: auto;
  width: 100%;
}
.order_table table {
  border: none;
}
.order_table thead {
  background-color: #000;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.45);
}
.order_table thead th {
  font-weight: 500;
  color: #ffffff;
  border: 0;
  font-size: 14px;
}
.order_table tbody {
  font-size: 12px;
  border: none;
}
.order_table tbody td {
  padding: 6px 12px;
  border: none;
  white-space: nowrap;
}
.single_order_color_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.single_order_color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 2px 4px;
}
.pdf_download_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.pdf_download_wrapper a {
  background-color: var(--firstColorPalete);
  width: 300px;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  color: white;
  border-radius: 4px;
  margin: 8px auto;
}

@media (max-width: 1050px) {
  .order_details_wrapper > span {
    margin: 8px 4px;
  }
}

@media (max-width: 560px) {
  .order_details_wrapper {
    order: 2;
    padding: 10px 10px 5px;
  }
  .order_table{
    order: 1;
  }
  .order_details_wrapper > span {
    margin: 6px 2px;
  }
}

@media (max-width: 450px) {
  .single_order_wrapper {
    margin: 8px 0;
  }
  .order_details_wrapper > span {
    width: 100%;
    margin: 2px 0;
  }
  .order_details_wrapper strong {
    float: left;
    margin: 0;
    padding: 2px 6px;
    border-radius: 2px;
    white-space: nowrap;
  }
  .order_table thead th,
  .order_table tbody {
    font-size: 10px;
  }
  .order_table tbody td {
    padding: 6px;
  }
  .single_order_color {
    width: 15px;
    height: 15px;
    margin: 2px;
  }
  .pdf_download_wrapper a {
    width: 125px;
    padding: 5px 10px;
    font-size: 10px;
  }
}
