.cart_item_wrapper {
  display: flex;
  flex-flow: row wrap;
  min-height: 180px;
  margin: 8px 0;
  /* overflow: hidden; */
  border: 1px solid rgb(228, 226, 226);
  border-radius: 4px;
}
.item_img_wrapper {
  flex-basis: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.item_rating_wrapper {
  position: absolute;
  right: 8px;
  top: 2px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.item_discount_wrapper {
  position: absolute;
  right: 5px;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--fourthColorPalete);
  border-radius: 50px;
  min-width: 60px;
  font-size: 10px;
  padding: 4px 8px;
}
.item_discount_wrapper span {
  color: #ffffff;
}

/* if countInStock < 1 ==> not exist */
.out_of_countInStock {
  position: absolute;
  top: 20%;
  right: 55%;
  width: 100px;
  height: 100px;
  border: 8px solid red;
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.out_of_countInStock p {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: red;
  width: 100%;
  transform: rotate(-45deg);
}
.item_img_wrapper img {
  width: 40%;
  max-width: 100px;
}
.item_info_wrapper {
  flex-basis: 45%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.item_price_wrapper {
  flex-basis: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}
.cart_item_discount_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  margin: 5px 0;
  color: gray;
}
.cart_item_discount {
  border-radius: 4px;
  background-color: var(--thirdColorPalete);
  color: #ffffff;
  padding: 2px 16px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
}
.cart_item_price_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  margin: 0;
}
.cart_item_price_after_discount {
  font-size: 16px;
  padding: 0 10px;
  border-radius: 4px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.product_count_btns_wrapper {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
}
.count_controller_wrapper {
  border: 1px solid var(--thirdColorPalete);
  border-radius: 4px;
  padding: 4px 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.count_controller_wrapper span {
  margin: 0 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.cart_item_count {
  margin: 0 15px !important;
  font-size: 18px !important;
  user-select: none;
}

.item_color_wrapper {
  flex: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.select_color_wrapper {
  flex: 30%;
}
.select_color_wrapper select {
  user-select: none;
  cursor: pointer !important;
}
.selected_colors_wrapper {
  flex: 70%;
  padding: 4px 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.active_color_wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 2px;
  margin: 2px 4px;
  border: 1px solid rgb(234, 231, 231);
}

@media (max-width: 1060px) {
  .cart_item_price_after_discount {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  .item_price_wrapper {
    flex-basis: 35%;
  }
  .item_img_wrapper {
    flex-basis: 20%;
  }
}

@media (max-width: 600px) {
  .item_img_wrapper {
    flex-basis: 35%;
  }
  .item_info_wrapper {
    flex-basis: 65%;
    font-size: 12px;
  }
  .item_price_wrapper {
    padding: 10px 20px 10px 0;
    flex-basis: 100%;
  }
  .item_img_wrapper img {
    width: 80%;
  }
  .cart_item_price_wrapper {
    font-size: 12px;
  }
  .cart_item_price_after_discount {
    font-size: 12px;
    padding: 5px;
  }
  .item_info_wrapper h3 {
    font-size: 12px;
    margin: 4px 0;
  }
  .item_info_wrapper h6 {
    font-size: 12px;
  }
  .cart_item_discount_wrapper {
    font-size: 12px;
  }
  .cart_item_discount {
    border-radius: 2px;
    padding: 2px 10px;
    align-items: center !important;
    font-size: 12px;
    margin-right: 5px;
  }
  .select_color_wrapper {
    flex: 100%;
  }
  .select_color_wrapper select {
    width: 50%;
  }
  .selected_colors_wrapper {
    flex: 90%;
    padding: 4px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .select_color_wrapper select {
    width: 100%;
    font-size: 12px;
    padding: 4px 8px;
    margin: 5px 0;
  }
  .cart_item_price_after_discount {
    font-size: 10px;
    padding: 2px 4px;
  }
  .cart_item_price_wrapper {
    font-size: 10px;
  }
  .item_price_wrapper {
    padding: 10px 10px 0 0;
  }
  .item_rating_wrapper {
    top: 0;
  }
  .item_img_wrapper img {
    margin: 15px 0;
  }
  .item_discount_wrapper {
    bottom: -10px;
  }
  .out_of_countInStock {
    right: 170%;
    top: 140%;
  }
  .item_color_wrapper {
    padding: 0 10px;
  }
  .product_count_btns_wrapper {
    padding: 5px 0 10px 0;
  }
}