#cart_page {
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

.cart_length {
  background-color: var(--thirdColorPalete);
  padding: 2px 18px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  margin-right: 10px;
}
.cart_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  min-height: 400px;
}
.cart_items_wrapper {
  flex: 1 1 700px;
  display: flex;
  flex-flow: column wrap;
}
.cart_details_wrapper {
  flex: 2 1 150px;
  display: flex;
  flex-flow: column wrap;
  padding: 5px 20px 5px 0;
}

.empty_cart_wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.empty_cart_wrapper svg {
  max-width: 250px;
  max-height: 250px;
}

/* total_price */
.total_price_wrapper {
  font-size: 14px;
  margin: 5px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.total_price {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin: 20px 0 0;
}
.finaly_total_price_digit {
  background-color: var(--firstColorPalete);
  padding: 4px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px;
  border-radius: 4px;
}
/* cart_checkout_btns_wrapper */
.cart_checkout_btns_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 0;
}
.cart_checkout_btns_wrapper button:disabled {
  cursor: not-allowed;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
}

/* deprecated_items_wrapper */
.deprecated_items_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 50px;
  background-color: #ffffff;
  padding: 2px 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-shadow: 0 3px 18px rgb(0 0 0 / 30%);
  z-index: 110;
}
.deprecated_second_wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}
.deprecated_close {
  position: absolute;
  left: -20px;
  top: 18px;
  display: flex;
  align-items: center;
  border: 2px solid var(--firstColorPalete);
  border-radius: 3px;
  padding: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: #ffffff;
  z-index: 100;
}
.deprecated_close svg {
  font-size: 25px;
  color: var(--firstColorPalete);
  transition: all 0.3s ease-in-out;
}
.deprecated_close:hover > svg {
  color: #ffffff;
}
.deprecated_close:hover {
  background-color: var(--firstColorPalete);
}
.deprecated_item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 3px 10px;
  padding: 2px 10px;
  font-size: 12px;
}

.deprecated_header {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}
.deprecated_item_title {
  color: var(--firstColorPalete);
  margin-left: 10px;
}
.deprecated_img {
  width: 100%;
  max-width: 60px;
  object-fit: contain;
  height: auto;
}

/* responsibility */
@media (max-width: 1060px) {
  .cart_details_wrapper {
    flex-basis: 100%;
    padding: 10px 0 0;
  }
  .cart_items_wrapper {
    flex-basis: 100%;
  }
  .cart_details_wrapper h4 {
    font-size: 14px;
    margin: 5px 0;
  }
  .cart_details_wrapper h4 {
    font-size: 12px;
    margin: 0;
  }
  .cart_items_wrapper h4 {
    font-size: 14px;
  }
  .cart_length {
    font-size: 14px;
  }
  .cart_checkout_btns_wrapper {
    margin: 0;
    height: 40px;
  }
  .cart_checkout_btns_wrapper button {
    width: 40% !important;
    padding: 0;
  }
}

@media (max-width: 560px) {
  .cart_checkout_btns_wrapper button {
    width: 50% !important;
  }
}

@media (max-width: 450px) {
  .cart_wrapper {
    min-height: 300px;
    margin-bottom: 10px;
  }
  .cart_length {
    padding: 2px 12px;
    border-radius: 2px;
    font-size: 12px;
  }
  .total_price_wrapper {
    font-size: 10px;
  }
  .total_price {
    justify-content: center;
    font-size: 14px;
    position: fixed;
    bottom: 60px;
    left: 0;
    background: white;
    z-index: 35;
    width: 100vw;
    box-shadow: 0 2px 14px rgb(0 0 0 / 40%);
    padding: 10px 0;
    margin: 0;
  }
  .finaly_total_price_digit {
    font-size: 16px !important;
    background-color: transparent;
    font-weight: 700;
    color: var(--firstColorPalete);
    padding: 2px 5px;
  }
  hr ~ strong.font-sm {
    font-size: 10px;
  }
  .cart_checkout_btns_wrapper {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #ffffff;
    z-index: 35;
    padding: 10px 5px;
    justify-content: center;
    height: 60px;
  }
  .cart_checkout_btns_wrapper button {
    padding: 0;
    width: 60% !important;
    font-size: 14px !important;
  }
  .deprecated_items_wrapper {
    padding: 2px 30px;
  }
  .deprecated_item {
    width: 100%;
    padding: 2px;
    margin: 2px 0;
  }
  .deprecated_item:not(:first-child, :last-of-type) {
    border-bottom: 1px solid var(--firstColorPalete);
  }
  .deprecated_item_title {
    font-size: 10px;
    margin-left: 0;
  }
  .deprecated_header {
    font-size: 12px;
  }
  .deprecated_close {
    top: 5px;
    padding: 0;
  }
  .deprecated_close svg {
    font-size: 14px;
  }
  .cart_items_wrapper h4 {
    font-size: 12px;
    margin: 8px 0 0;
  }
  .valid_color{
    font-size: 20px;
  }
}
