#checkout_page {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: self-start;
  margin: 30px 0;
}
.user_checkout_info_wrapper {
  flex-basis: 50%;
  display: flex;
  flex-flow: column wrap;
}
.checkout_info_wrapper {
  flex-basis: 50%;
  display: flex;
  flex-flow: column wrap;
}
.items_price_wrapper {
  display: flex;
  flex-flow: column wrap;
}

.checkout_item_price {
  font-size: 14px;
  margin: 5px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.checkout_price {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 12px;
}
.checkout_form_wrapper {
  width: 80%;
  margin: 10px 0 20px;
}

.applyed_discount_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.finaly_price_after_discount {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #00db00;
  font-size: 14px;
  padding: 8px 16px;
  margin: 5px 0;
  border-radius: 4px;
}

.purchase_btns_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.checkout_form_wrapper .button {
  width: 50%;
}
.checkout_total_price {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin: 20px 0 0;
}
.table-img {
  width: 50px;
  height: 50px;
}
.attentionNote {
  color: var(--firstColorPalete);
  font-weight: 600;
  font-size: 14px;
}
.warningNote {
  color: var(--secondColorPalete);
  background-color: var(--firstColorPalete);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
}

@media (max-width: 1190px) {
  #checkout_page input {
    font-size: 12px;
  }
  #checkout_page hr {
    margin: 8px 0;
  }
  .checkout_info_wrapper h3 {
    font-size: 16px;
    margin: 5px 0;
  }
  .checkout_item_price{
    margin: 0;
  }
  .checkout_total_price,.finaly_total_price_digit{
    font-size: 12px;
  }
  .attentionNote{
    font-size: 12px;
  }
  .warningNote{
    font-size: 12px;
  }
}

@media (max-width: 930px) {
  #checkout_page {
    min-height: 500px;
  }
}

@media (max-width: 830px) {
  #checkout_page {
    min-height: unset;
  }
  .attentionNote{
    font-size: 10px;
  }
  .warningNote{
    font-size: 10px;
    font-weight: 500;
  }
  .finaly_total_price_digit {
    font-weight: 500;
  }
}

@media (max-width: 780px) {
  .attentionNote{
    font-size: 12px;
  }
  .warningNote{
    font-size: 12px;
  }
  #checkout_page {
    margin: 20px 0;
  }
  .user_checkout_info_wrapper {
    flex-basis: 100%;
  }
  .checkout_info_wrapper {
    flex-basis: 100%;
  }
  .checkout_form_wrapper {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 450px) {
  #checkout_page {
    margin: 5px 0;
  }
  .purchase_btns_wrapper .button {
    width: 40%;
  }
  .checkout_total_price .finaly_total_price_digit {
    background-color: var(--firstColorPalete);
    color: white;
  }
  .checkout_total_price strong {
    font-size: 12px;
  }
  .checkout_info_wrapper h3 {
    margin: 5px 0;
    font-size: 14px;
  }
  .checkout_price {
    font-size: 10px;
  }
  .checkout_price .table-img {
    width: 25px;
    height: 25px;
  }
  .checkout_price .mx-2 {
    margin-right: 4px;
    margin-left: 4px;
  }
}
