.create-new-slide-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--thirdColorPalete);
  padding: 6px 10px;
  border: 2px solid var(--thirdColorPalete);
  border-radius: 4px;
  font-size: 14px;
}
.create-new-slide-link svg {
  margin-right: 5px;
}
.create-new-slide-link:hover {
  border: 2px solid var(--firstColorPalete);
  transition: all 0.3s ease-in-out;
  background-color: var(--firstColorPalete);
  color: #ffffff;
}

@media (max-width: 560px) {
  .create-new-slide-link {
    padding: 4px 8px;
    font-size: 12px;
  }
  .admin-panel-wrapper hr {
    margin: 20px 0;
  }
}