footer {
  width: 100%;
  margin: 20px auto 0;
  padding: 0;
  background-color: var(--firstColorPalete);
  color: #ffffff;
}

#sec_footer {
  width: 85.5%;
  margin: 0 auto;
  min-height: 170px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  padding: 20px 0 10px;
  gap: 0 20px;
}

.about_us {
  flex: 70%;
  display: flex;
  flex-flow: column wrap;
}

.call_us {
  flex: 30%;
  display: flex;
  flex-flow: column wrap;
}

.nemads_wrapper {
  display: flex;
  flex-flow: column wrap;
  margin-top: 30px;
}

#sec_footer h4 {
  text-align: center;
  margin: 0 0 10px;
}
.about_us_description {
  font-size: 14px;
  text-align: justify;
  line-height: 2;
  word-spacing: 1.1px;
  margin: 0;
}
.call_us_info_wrapper {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0 20px;
}
.call_us_info_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.company_social_icons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.footer_social_icon {
  width: 100%;
  height: auto;
  max-width: 30px;
  margin: 0 5px;
}
.footer_nemad_img {
  width: 100%;
  height: auto;
  max-width: 60px;
}

.nemads {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.footer_nemad_img {
  width: 100%;
  height: auto;
  max-width: 80px;
  object-fit: contain;
}
.protection {
  width: 100%;
  text-align: center;
  background-color: #5f0084;
  margin-top: 15px;
  padding: 10px 0;
}

.arrow_up {
  position: fixed;
  left: 40px;
  bottom: 35px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border: 1px solid var(--firstColorPalete);
  z-index: 20;
}
.arrow_up svg {
  font-size: 35px;
  color: var(--firstColorPalete)
}
.arrow_up:hover {
  box-shadow: 0 0px 14px var(--firstColorPalete);
}
.install_app{
  position: fixed;
  right: 30px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.install_app svg {
  cursor: pointer;
  width: 80%;
  height: auto;
}

.store_section{
  position: fixed;
  right: 30px;
  bottom: 70px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
.store_section svg {
  cursor: pointer;
  width: 80%;
  height: auto;
}

@media (min-width: 2500px) {
  .arrow_up{
    left: 20% !important;
  }
  .install_app{
    right: 20% !important;
  }
}

@media (min-width: 1537px) {
  #sec_footer {
    width: 1305px !important;
  }
  .arrow_up{
    left: 5%;
  }
  .install_app{
    right: 5%;
  }
}

@media (max-width: 1060px) {
  .arrow_up {
    left: 15px;
    width: 40px;
    height: 40px;
  }
  .install_app{
    right: 15px;
  }
  .about_us_description {
    font-size: 12px;
  }
  #sec_footer h4 {
    font-size: 14px;
  }
  .footer_nemad_img{
    max-width: 60px;
  }
}

@media (max-width: 780px) {
  footer {
    margin: 20px auto 0;
    padding: 10px 0 0;
  }

  #sec_footer {
    flex-wrap: wrap;
    padding: 15px 0 10px;
  }
  .about_us {
    flex: 100%;
    padding: 0;
    margin-bottom: 10px;
  }

  .call_us {
    flex: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .call_us_info_wrapper{
    flex-basis: 35%;
  }
  .company_social_icons{
    flex-basis: 30%;
    order: 3;
  }
  .nemads_wrapper{
    flex-basis: 35%;
  }

  .call_us_info_box {
    margin: 5px 0;
  }
  .arrow_up {
    left: 20px;
  }
  .arrow_up svg {
    font-size: 30px;
  }
  .store_section {
    right: 15px;
  }
}

@media (max-width: 600px) {
  .arrow_up {
    bottom: 50px;
  }
  .install_app {
    bottom: 50%;
    top: 54%;
  }
  .store_section {
    bottom: 50%;
    top: 50%;
  }
  .about_us {
    margin-bottom: 15px;
  }
  .call_us_info_wrapper{
    flex-basis: 45%;
    margin: 0;
  }
  .company_social_icons{
    flex-basis: 20%;
    order: 3;
  }
  .nemads_wrapper{
    flex-basis: 35%;
    margin-top: 0;
  }
  .footer_nemad_img {
    max-width: 45px;
  }
  .footer_social_icon {
    max-width: 20px;
  }
  #sec_footer h4 {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .install_app {
    right: 5px;
    width: 25px;
  }
  .store_section {
    right: 5px;
    width: 25px;
  }
  .arrow_up {
    left: 5px;
    width: 25px;
    height: 25px;
  }
  .arrow_up svg {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  footer {
    padding: 0;
  }
  .call_us_info_wrapper{
    flex-basis: 65%;
    align-items: flex-start;
    margin: 0;
  }
  .company_social_icons{
    flex-basis: 35%;
    order: unset;
  }
  .nemads_wrapper{
    flex-basis: 100%;
    margin-top: 15px;
  }
  .call_us {
    flex: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
  .protection p {
    font-size: 10px;
  }
  .protection strong {
    margin: 0 3px;
  }
  #sec_footer h4 {
    font-size: 12px;
  }
  .about_us_description {
    font-size: 10px;
  }
  .call_us_info_box{
    justify-content: space-between;
    width: 100%;
  }
  .call_us_info_box span {
    font-size: 12px;
  }
  .footer_nemad_img {
    margin: 0 10px;
  }
  .call_us_info_box span:last-of-type {
    font-size: 10px;
  }
  .install_app,.store_section {
    right: 2px;
  }
}
@media (max-width: 365px) {
  #sec_footer {
    padding-bottom: 0;
  }
  .call_us {
    margin-bottom: 0;
  }
  .arrow_up {
    left: 3px;
    width: 20px;
    height: 20px;
  }
  .call_us_info_wrapper{
    flex-basis: 100%;
  }
  .company_social_icons{
    flex-basis: 100%;
    margin-top: 10px;
  }
}
