.button {
  width: 30%;
  background: var(--firstColorPalete);
  color: #ffffff;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  min-height: 38px;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.button:hover {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.7);
}
.button:disabled {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  cursor: not-allowed;
  color: #bdbdbd;
}
@media (max-width: 450px) {
  .button {
    width: 50%;
    font-size: 11px;
    padding: 2px 6px;
    min-height: 25px;
  }
}
