.image-upload-wrapper {
  width: 100%;
  margin-bottom: 20px;
}
.image-upload {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.image-upload__preview {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.image-upload__preview img {
  width: 80px;
}
.preview_img_wrapper {
  position: relative;
  margin: 5px;
}
.delete_img {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.delete_img:hover svg {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.delete_img svg {
  color: #ffffff;
}
