.comment_box_wrapper {
  width: 100%;
  max-height: 600px;
  padding: 0 15px 10px;
  overflow-y: auto;
  border: 1px solid #bbb2b2;
}
/* scrollbar-comment_box */
.comment_box_wrapper::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
.comment_box_wrapper::-webkit-scrollbar {
  width: 8px;
}
/* scrollbar-comment_box */

.comment_wrapper {
  position: relative;
  width: 100%;
}

.single_comment_wrapper {
  display: flex;
  flex-flow: row;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  padding: 15px 0px 15px 20px;
  background-color: #f9f9f9;
  margin: 10px 0;
}
.writer_photo_wrapper {
  flex: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.writer_photo_wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  max-height: 100px;
}
.comment_content_wrapper {
  flex: 85%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
.comment_content_wrapper div:first-child {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.comment_content {
  font-size: 14px;
  text-align: right;
  line-height: 2;
  color: #646363;
  overflow-y: auto;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: justify;
}
.like_dislike_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.like_dislike_info {
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.like_dislike_info:first-child:hover > svg {
  color: #00bc00;
}
.like_dislike_info:last-child:hover > svg {
  color: red;
}
.reply_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border: 1px solid var(--thirdColorPalete);
  border-radius: 4px;
  font-size: 12px;
  color: var(--thirdColorPalete);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.reply_btn:hover {
  background-color: var(--thirdColorPalete);
  color: #fff;
}
/* reply-comment */
.reply_comment {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.count_of_replye_comments {
  font-size: 12px;
  color: var(--thirdColorPalete);
  cursor: pointer;
  margin: 0;
}

/* responsive */
@media (max-width: 780px) {
  .writer_photo_wrapper img {
    width: 60px;
    height: 60px;
    max-height: 60px;
  }
  .comment_content_wrapper {
    font-size: 12px;
  }
  .comment_content_wrapper span {
    font-size: 10px;
  }
  .comment_content {
    font-size: 10px;
  }
  .comment_box_wrapper p:last-child{
    width: 100%;
  }
}

@media (max-width: 550px) {
  .comment_box_wrapper>span.mt-3{
    font-size: 12px;
  }
  .comment_box_wrapper>p.my-2{
    font-size: 12px;
    margin: 12px 0;
  }
}

@media (max-width: 450px) {
  .comment_content_wrapper {
    flex: 90% 1;
  }
  .writer_photo_wrapper{
    flex: 10% 1;
  }
  .product_header_info h1 {
    font-size: 12px;
  }
  .comment_box_wrapper::-webkit-scrollbar {
    width: 5px;
  }
  .comment_box_wrapper {
    max-height: 450px;
    padding: 0 2px;
  }
  .comment_box_wrapper > .auth-form {
    width: 100%;
    margin: 15px 0;
  }
  .comment_box_wrapper > hr {
    margin: 10px 0;
  }
  .single_comment_wrapper {
    padding: 6px 5px 4px 5px;
    margin: 10px 0;
  }
  .comment_content_wrapper {
    padding-right: 5px;
  }
  .comment_content_wrapper span {
    font-size: 8px;
  }
  .comment_content {
    font-size: 9px;
    line-height: 1.4;
    margin: 4px 0;
  }
  .reply_btn {
    padding: 2px 8px;
    border-radius: 2px;
  }
  .like_dislike_info svg {
    cursor: pointer;
    font-size: 12px;
  }
  .count_of_replye_comments {
    font-size: 8px;
  }
  .count_of_replye_comments strong {
    margin: 0 4px;
  }
  .writer_photo_wrapper img {
    width: 25px;
    height: 25px;
    max-height: 25px;
  }
}
