#compare_products {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 20px 0;
}

.product_compare_wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(219, 218, 218);
  border-radius: 4px;
  margin: 8px 0;
}
.compare_img_wrapper{
  display: flex;
  align-items: center;
}
.compare_info_img_wrapper{
  flex-basis: 15%;
  display: flex;
  flex-flow: column wrap;
}
.compare_info_wrapper {
  flex-basis: 20%;
  display: flex;
  flex-flow: column wrap;
}
.compare_info_wrapper p,.compare_info_img_wrapper p {
  margin: 0;
  font-size: 12px;
}
.compare_details_wrapper {
  flex-basis: 65%;
  display: flex;
  flex-flow: column;
  gap: 8px 0;
  
}
.compare_details_info {
  display: flex;
  flex-flow: row;
  gap: 0 8px;
}
.compare_details_info p {
  font-size: 12px;
  margin: 5px 0;
}
.compare_item_not_exist {
  background-color: var(--secondColorPalete);
  padding: 4px 18px;
  border-radius: 4px;
}
.compare_detail_question {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f5f5;
  padding-right: 5px;
}
.compare_detail_answer {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f5f5;
  padding-right: 5px;
}
.compare_colors_wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.compare_colors_wrapper span:not(:first-child) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #e7e5e5;
}

#compare_products .slick-prev::before, .slick-next::before {
  color: var(--firstColorPalete);
}
#compare_products .slick-next {
  right: 0px;
  z-index: 5;
}
#compare_products .slick-prev {
  left: 0px;
  z-index: 5;
}

/* responsive */
@media (max-width: 1060px) {
  .compare_info_img_wrapper{
    flex-basis: 20%;
  }
  .compare_info_wrapper {
    flex-basis: 30%;
  }
  .compare_details_wrapper {
    flex-basis: 50%;
  }
  .compare_info_wrapper p, .compare_info_img_wrapper p {
    font-size: 10px;
  }
  .product_compare_wrapper .font-sm {
    font-size: 10px;
  }
  .compare_details_info p {
    font-size: 10px;
  }
}

@media (max-width: 780px) {
  .compare_info_img_wrapper{
    flex-basis: 25%;
  }
  .compare_info_wrapper {
    flex-basis: 30%;
  }
  .compare_details_wrapper {
    flex-basis: 45%;
  }
}

@media (max-width: 650px) {
  .compare_info_img_wrapper{
    flex-basis: 50%;
  }
  .compare_info_wrapper {
    flex-basis: 50%;
  }
  .compare_details_wrapper {
    flex-basis: 100%;
    margin-top: 5px;
  }
  #compare_products h5 {
    font-size: 10px;
    margin-bottom: 5px;
  }
  #compare_products h5 > strong {
    margin-right: 1px;
    margin-left: 1px;
  }
  .compare_detail_question {
    padding-right: 2px;
  }
  .compare_detail_answer {
    padding-right: 2px;
  }
  .compare_colors_wrapper span:not(:first-child) {
    width: 15px;
    height: 15px;
  }
  .compare_details_info p {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  #compare_products{
    margin: 10px 0 20px;
  }
  .product_compare_wrapper{
    padding: 8px 5px;
    margin: 4px 0;
  }
  .compare_info_img_wrapper{
    flex-basis: 40%;
  }
  .compare_info_wrapper {
    flex-basis: 60%;
  }
  .compare_colors_wrapper span:not(:first-child) {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 370px) {
  .compare_info_img_wrapper{
    flex-basis: 45%;
  }
  .compare_info_wrapper {
    flex-basis: 55%;
  }
  .compare_info_wrapper p, .compare_info_img_wrapper p {
    font-size: 9px;
  }
  .product_compare_wrapper{
    padding: 4px 4px 4px 2px;
  }
  .product_compare_wrapper .font-sm {
    font-size: 9px;
  }
  .compare_details_info p {
    font-size: 8px;
    margin: 4px 0;
  }
  .compare_details_wrapper{
    gap: 4px 0;
  }
}

@media (max-width: 315px) {
  .compare_info_img_wrapper{
    flex-basis: 40%;
  }
  .compare_info_wrapper {
    flex-basis: 60%;
  }
  .compare_info_wrapper p, .compare_info_img_wrapper p {
    font-size: 8px;
  }
  .compare_details_info p {
    font-size: 8px;
    margin: 2px 0;
  }
}