.main-body {
  width: 85.5% !important;
  margin: 0 auto;
  height: 100%;
  padding-top: 26px;
}

@media (min-width: 1537px) {
  .main-body {
    width: 1305px !important;
    margin: 0 auto;
    height: 100%;
  }
}

@media (max-width: 1060px) {
  .main-body {
    padding-top: 10px;
  }
}

 @media (max-width: 780px) {
  .main-body {
    padding-top: 0;
  }
} 

@media (max-width: 335px) {
  .main-body {
    width: 84% !important;
  }
}

